<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shizy.interview">

	<application
		android:name=".App"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@style/AppTheme">
		<activity
			android:name=".components.activity.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.activity.launch_mode.LaunchModeActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".components.activity.launch_mode.StandardActivity"
			android:launchMode="standard"
			android:screenOrientation="portrait" />
		<activity
			android:name=".components.activity.launch_mode.SingleTopActivity"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<activity
			android:name=".components.activity.launch_mode.SingleTaskActivity"
			android:launchMode="singleTask"
			android:screenOrientation="portrait" />
		<activity
			android:name=".components.activity.launch_mode.SingleInstanceActivity"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait" />

		<activity
			android:name=".components.activity.ServiceActivity"
			android:screenOrientation="portrait" />

		<service android:name=".components.service.LocalService" />
		<service
			android:name=".components.service.MessengerService"
			android:process=":messenger" />
		<service
			android:name=".components.service.AidlService"
			android:process=":aidl" />

	</application>

</manifest>